
section img {
    border-radius: 50%;
}

#tutor {
    max-width: 60%;
    height: auto;
}

.people {
    padding: 20px 150px 0px 150px;
}

.student {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    transform: scale(1);
    transition: all 0.5s;
    object-fit: cover;
}

.student:hover{
    transform: scale(1.2);
}