#pic {
    border-radius: 50%;
    max-width: 60%;
    height: auto;
}

.people {
    padding: 20px 150px 0px 150px;
}

.student {
    width: 180px;
    height: auto;
    display: block;
    margin: auto;
}