<!DOCTYPE html>
<html>
  	<head>
		<title>{{page.title}}</title>
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav style = "background-color:#EEEEEE">
			<h1><i>Attention, memory and learning</i></h1>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/people">People</a></li>
        		<li><a href="/research">Research</a></li>
			<li><a href="/publications">Publications</a></li>
        		<li><a href="/news">News</a></li>
			<li><a href="/job">Job Positions</a></li>
    		</ul>
		</nav>
		<div class="container" style="width:1400px">
    			
			{{content}}
			
		</div><!-- /.container -->
		
	</body>
</html>
