<!DOCTYPE html>
<html>
  	<head>
		<title>{{page.title}}</title>
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
			<h1><i>Attention, memory and learning</i></h1>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/research">Research</a></li>
			<li><a href="/people">People</a></li>
			<li><a href="/publications">Publications</a></li>
        		<li><a href="/news">News</a></li>
    		</ul>
		</nav>
		<div class="container">
    			
			{{content}}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:wangbenchi.swift@gmail.com">Contact</a></li>
        		<li><a href="https://github.com/wangbenchi">Lab resources</a></li>
			</ul>
		</footer>
	</body>
</html>
